body {
    background: #212534
}

/* .fixed-buttons {
    position: fixed;
    top: 50px; 
    left: 10px; 
    display: flex;
    flex-direction: column;
}

.fixed-buttons button {
    margin: 5px 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.fixed-buttons button:hover {
    background-color: #45a049;
}

.content {
    margin-left: 200px; 
    padding: 20px;
} */